In [63]:
import pandas as pd

In [64]:
df = pd.read_csv("Rummy_6_data_extraction_10k.csv")

In [65]:
df.head(18)  # Display the first few rows of the dataframe

,game_id,settlement_time,s_date,user_id,win_status,win_position,winning_cash_amt,trnmnt_type,total_prize_pool,pkr,Date,Time
0,605614753,2021-06-21T00:00:01.018+05:30,21-06-2021,29725465,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
1,605614753,2021-06-21T00:00:01.051+05:30,21-06-2021,34772861,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
2,605614753,2021-06-21T00:00:01.263+05:30,21-06-2021,35342386,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
3,605614753,2021-06-21T00:00:01.277+05:30,21-06-2021,63295813,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
4,605614753,2021-06-21T00:00:01.29+05:30,21-06-2021,6602545,True,1,255.00,NaN,NaN,2,21-Jun-2021,00:00:01
5,605614753,2021-06-21T00:00:01.304+05:30,21-06-2021,77744146,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
6,605610557,2021-06-21T00:00:07.433+05:30,21-06-2021,29214676,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
7,605610557,2021-06-21T00:00:07.452+05:30,21-06-2021,41576027,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
8,605610557,2021-06-21T00:00:07.468+05:30,21-06-2021,50648587,True,3,708.33,NaN,NaN,2,21-Jun-2021,00:00:07
9,605610557,2021-06-21T00:00:07.481+05:30,21-06-2021,58031362,True,2,708.34,NaN,NaN,2,21-Jun-2021,00:00:07
10,605610557,2021-06-21T00:00:07.497+05:30,21-06-2021,7404034,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
11,605610557,2021-06-21T00:00:07.515+05:30,21-06-2021,9362918,True,1,1133.33,NaN,NaN,2,21-Jun-2021,00:00:07
12,605614867,2021-06-21T00:00:13.455+05:30,21-06-2021,33287571,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
13,605614867,2021-06-21T00:00:13.469+05:30,21-06-2021,42977311,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
14,605614867,2021-06-21T00:00:13.486+05:30,21-06-2021,52209612,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
15,605614867,2021-06-21T00:00:13.499+05:30,21-06-2021,5797472,True,1,5280.00,NaN,NaN,2,21-Jun-2021,00:00:13
16,605614867,2021-06-21T00:00:13.511+05:30,21-06-2021,7617622,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
17,605614867,2021-06-21T00:00:13.525+05:30,21-06-2021,8417601,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:13

In [66]:
df['pkr'].unique()

array([2, 3, 1], dtype=int64)

In [67]:
print(1,df['game_id'][df['pkr']==1].min(),df['game_id'][df['pkr']==1].max())
print(2,df['game_id'][df['pkr']==2].min(),df['game_id'][df['pkr']==2].max())
print(3,df['game_id'][df['pkr']==3].min(),df['game_id'][df['pkr']==3].max())

# pkr values
# 1 : Points
# 2 : Pool
# 3 : Deals Rummy (BON)
# 4 : Deals MTT
# 6 : Raise
# 7 : Points MTT
# 17 : Turbo (SPIN)"

1 605457148 605623548
2 605605157 605623322
3 605611115 605620508

## 1 : Points

In [68]:
df_1 = df[df['pkr']==1]
win_counts = df_1.groupby(['game_id', 'win_status']).size().unstack(fill_value=0)
win_counts.index
win_counts.columns
win_counts[True].value_counts()

True
1    60
2     1
Name: count, dtype: int64

In [69]:
df_2 = df[df['pkr']==2]
win_counts = df_2.groupby(['game_id', 'win_status']).size().unstack(fill_value=0)
win_counts.index
win_counts.columns
win_counts[True].value_counts()

True
2    668
1    528
3    320
Name: count, dtype: int64

In [70]:
df_3 = df[df['pkr']==3]
win_counts = df_3.groupby(['game_id', 'win_status']).size().unstack(fill_value=0)
win_counts.index
win_counts.columns
win_counts[True].value_counts()
# df_3.head(18)

True
2    90
Name: count, dtype: int64

Don't need to sort again, if we have the sorted dataset, or else sort

In [71]:
df_sorted = df.sort_values(by="settlement_time").reset_index(drop=True) #sorting by settlement time

In [72]:
df_sorted.head(18)  # Display the first few rows of the sorted dataframe

,game_id,settlement_time,s_date,user_id,win_status,win_position,winning_cash_amt,trnmnt_type,total_prize_pool,pkr,Date,Time
0,605614753,2021-06-21T00:00:01.018+05:30,21-06-2021,29725465,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
1,605614753,2021-06-21T00:00:01.051+05:30,21-06-2021,34772861,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
2,605614753,2021-06-21T00:00:01.263+05:30,21-06-2021,35342386,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
3,605614753,2021-06-21T00:00:01.277+05:30,21-06-2021,63295813,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
4,605614753,2021-06-21T00:00:01.29+05:30,21-06-2021,6602545,True,1,255.00,NaN,NaN,2,21-Jun-2021,00:00:01
5,605614753,2021-06-21T00:00:01.304+05:30,21-06-2021,77744146,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:01
6,605610557,2021-06-21T00:00:07.433+05:30,21-06-2021,29214676,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
7,605610557,2021-06-21T00:00:07.452+05:30,21-06-2021,41576027,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
8,605610557,2021-06-21T00:00:07.468+05:30,21-06-2021,50648587,True,3,708.33,NaN,NaN,2,21-Jun-2021,00:00:07
9,605610557,2021-06-21T00:00:07.481+05:30,21-06-2021,58031362,True,2,708.34,NaN,NaN,2,21-Jun-2021,00:00:07
10,605610557,2021-06-21T00:00:07.497+05:30,21-06-2021,7404034,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:07
11,605610557,2021-06-21T00:00:07.515+05:30,21-06-2021,9362918,True,1,1133.33,NaN,NaN,2,21-Jun-2021,00:00:07
12,605614867,2021-06-21T00:00:13.455+05:30,21-06-2021,33287571,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
13,605614867,2021-06-21T00:00:13.469+05:30,21-06-2021,42977311,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
14,605614867,2021-06-21T00:00:13.486+05:30,21-06-2021,52209612,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
15,605614867,2021-06-21T00:00:13.499+05:30,21-06-2021,5797472,True,1,5280.00,NaN,NaN,2,21-Jun-2021,00:00:13
16,605614867,2021-06-21T00:00:13.511+05:30,21-06-2021,7617622,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:13
17,605614867,2021-06-21T00:00:13.525+05:30,21-06-2021,8417601,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:13

In [73]:
# Assign player position (1 to 6) in each game
df_sorted['player_number'] = df_sorted.groupby("game_id").cumcount() + 1

In [74]:
df_sorted.head(18)  # Display the first few rows with player numbers

,game_id,settlement_time,s_date,user_id,win_status,win_position,winning_cash_amt,trnmnt_type,total_prize_pool,pkr,Date,Time,player_number
0,605614753,2021-06-21T00:00:01.018+05:30,21-06-2021,29725465,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:01,1
1,605614753,2021-06-21T00:00:01.051+05:30,21-06-2021,34772861,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:01,2
2,605614753,2021-06-21T00:00:01.263+05:30,21-06-2021,35342386,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:01,3
3,605614753,2021-06-21T00:00:01.277+05:30,21-06-2021,63295813,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:01,4
4,605614753,2021-06-21T00:00:01.29+05:30,21-06-2021,6602545,True,1,255.00,NaN,NaN,2,21-Jun-2021,00:00:01,5
5,605614753,2021-06-21T00:00:01.304+05:30,21-06-2021,77744146,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:01,6
6,605610557,2021-06-21T00:00:07.433+05:30,21-06-2021,29214676,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:07,1
7,605610557,2021-06-21T00:00:07.452+05:30,21-06-2021,41576027,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:07,2
8,605610557,2021-06-21T00:00:07.468+05:30,21-06-2021,50648587,True,3,708.33,NaN,NaN,2,21-Jun-2021,00:00:07,3
9,605610557,2021-06-21T00:00:07.481+05:30,21-06-2021,58031362,True,2,708.34,NaN,NaN,2,21-Jun-2021,00:00:07,4
10,605610557,2021-06-21T00:00:07.497+05:30,21-06-2021,7404034,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:07,5
11,605610557,2021-06-21T00:00:07.515+05:30,21-06-2021,9362918,True,1,1133.33,NaN,NaN,2,21-Jun-2021,00:00:07,6
12,605614867,2021-06-21T00:00:13.455+05:30,21-06-2021,33287571,False,6,0.00,NaN,NaN,2,21-Jun-2021,00:00:13,1
13,605614867,2021-06-21T00:00:13.469+05:30,21-06-2021,42977311,False,5,0.00,NaN,NaN,2,21-Jun-2021,00:00:13,2
14,605614867,2021-06-21T00:00:13.486+05:30,21-06-2021,52209612,False,4,0.00,NaN,NaN,2,21-Jun-2021,00:00:13,3
15,605614867,2021-06-21T00:00:13.499+05:30,21-06-2021,5797472,True,1,5280.00,NaN,NaN,2,21-Jun-2021,00:00:13,4
16,605614867,2021-06-21T00:00:13.511+05:30,21-06-2021,7617622,False,3,0.00,NaN,NaN,2,21-Jun-2021,00:00:13,5
17,605614867,2021-06-21T00:00:13.525+05:30,21-06-2021,8417601,False,2,0.00,NaN,NaN,2,21-Jun-2021,00:00:13,6

In [75]:
# extract the first occurrence of settlement_time per game_id and create a (game_id, settlement_time) map
settlement_order = df_sorted.drop_duplicates("game_id")[["game_id", "settlement_time"]]

In [76]:
# Pivoting to get user_id_i columns (1 to 6)
pivoted_users = df_sorted.pivot(index="game_id", columns="player_number", values="user_id")
pivoted_users.columns = [f"user_id_{i}" for i in range(1, 7)]
pivoted_users = pivoted_users.reset_index() # reset game_id as a normal column

In [77]:
#merging back settlement_time and sorting again using settlement_time
pivoted_users = pivoted_users.merge(settlement_order, on="game_id", how="left")
pivoted_users = pivoted_users.sort_values("settlement_time").reset_index(drop=True)

In [78]:
pivoted_users.head(18)  # Display the first few rows of the pivoted dataframe

,game_id,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,settlement_time
0,605614753,29725465.0,34772861.0,35342386.0,63295813.0,6602545.0,77744146.0,2021-06-21T00:00:01.018+05:30
1,605610557,29214676.0,41576027.0,50648587.0,58031362.0,7404034.0,9362918.0,2021-06-21T00:00:07.433+05:30
2,605614867,33287571.0,42977311.0,52209612.0,5797472.0,7617622.0,8417601.0,2021-06-21T00:00:13.455+05:30
3,605607850,26481332.0,31740136.0,35414686.0,4443161.0,44752893.0,50599269.0,2021-06-21T00:00:15.873+05:30
4,605611949,32242295.0,32363990.0,33690277.0,60725772.0,62957167.0,77262487.0,2021-06-21T00:00:16.142+05:30
5,605611325,10520488.0,33221876.0,65544279.0,7324905.0,74927130.0,77107538.0,2021-06-21T00:00:18.778+05:30
6,605616343,11049341.0,24198997.0,32086376.0,32676180.0,50348245.0,66548828.0,2021-06-21T00:00:20.862+05:30
7,605613867,18154691.0,21832632.0,38104002.0,40381686.0,56615357.0,76871362.0,2021-06-21T00:00:21.016+05:30
8,605612992,21119893.0,23193171.0,31003809.0,37440613.0,4166818.0,799209.0,2021-06-21T00:00:21.712+05:30
9,605614912,20644176.0,21667966.0,21691153.0,34669528.0,34876960.0,77772270.0,2021-06-21T00:00:23.077+05:30
10,605612281,17327189.0,25208716.0,29836519.0,60730624.0,63275237.0,6977198.0,2021-06-21T00:00:23.938+05:30
11,605612048,13477940.0,21608677.0,24153028.0,36137698.0,36810620.0,48350364.0,2021-06-21T00:00:24.716+05:30
12,605612898,12412754.0,16294359.0,41027994.0,41404913.0,77870831.0,9855284.0,2021-06-21T00:00:26.372+05:30
13,605610053,10927905.0,22437508.0,24609650.0,43893152.0,62209008.0,9142787.0,2021-06-21T00:00:26.873+05:30
14,605613605,19160445.0,30138982.0,30523095.0,64317241.0,6780059.0,9967437.0,2021-06-21T00:00:27.9+05:30
15,605608060,10308168.0,21980049.0,58829557.0,61461343.0,73640330.0,74669201.0,2021-06-21T00:00:29.193+05:30
16,605614126,21017863.0,61340170.0,64210831.0,66283869.0,74995708.0,7599951.0,2021-06-21T00:00:30.275+05:30
17,605615884,10400543.0,21651477.0,3538897.0,7638037.0,77621818.0,871903.0,2021-06-21T00:00:32.484+05:30

In [79]:
# Extracting the winner's information, assuming win_position == 1 indicates the winner
game_meta = df_sorted[df_sorted["win_position"] == 1].drop_duplicates(subset=["game_id"])[
    ["game_id", "user_id", "s_date", "pkr"]
].rename(columns={"user_id": "winner_id"})

In [80]:
game_meta.head(18)  # Display the first few rows of the winner's information per game

       game_id  winner_id      s_date  pkr
4    605614753    6602545  21-06-2021    2
11   605610557    9362918  21-06-2021    2
15   605614867    5797472  21-06-2021    2
23   605607850   50599269  21-06-2021    2
29   605611949   77262487  21-06-2021    2
33   605611325    7324905  21-06-2021    2
40   605616343   50348245  21-06-2021    2
43   605613867   21832632  21-06-2021    2
53   605612992     799209  21-06-2021    2
59   605614912   77772270  21-06-2021    2
61   605612281   25208716  21-06-2021    2
71   605612048   48350364  21-06-2021    2
76   605612898   77870831  21-06-2021    2
82   605610053   62209008  21-06-2021    2
88   605613605    6780059  21-06-2021    2
90   605608060   10308168  21-06-2021    2
101  605614126    7599951  21-06-2021    2
106  605615884   77621818  21-06-2021    2

In [81]:
final_df = pivoted_users.merge(game_meta, on="game_id", how="left")

In [82]:
final_df = final_df.sort_values("settlement_time").reset_index(drop=True) #sorting by settlement time again just to be sure
final_df.head(18)

,game_id,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,settlement_time,winner_id,s_date,pkr
0,605614753,29725465.0,34772861.0,35342386.0,63295813.0,6602545.0,77744146.0,2021-06-21T00:00:01.018+05:30,6602545,21-06-2021,2
1,605610557,29214676.0,41576027.0,50648587.0,58031362.0,7404034.0,9362918.0,2021-06-21T00:00:07.433+05:30,9362918,21-06-2021,2
2,605614867,33287571.0,42977311.0,52209612.0,5797472.0,7617622.0,8417601.0,2021-06-21T00:00:13.455+05:30,5797472,21-06-2021,2
3,605607850,26481332.0,31740136.0,35414686.0,4443161.0,44752893.0,50599269.0,2021-06-21T00:00:15.873+05:30,50599269,21-06-2021,2
4,605611949,32242295.0,32363990.0,33690277.0,60725772.0,62957167.0,77262487.0,2021-06-21T00:00:16.142+05:30,77262487,21-06-2021,2
5,605611325,10520488.0,33221876.0,65544279.0,7324905.0,74927130.0,77107538.0,2021-06-21T00:00:18.778+05:30,7324905,21-06-2021,2
6,605616343,11049341.0,24198997.0,32086376.0,32676180.0,50348245.0,66548828.0,2021-06-21T00:00:20.862+05:30,50348245,21-06-2021,2
7,605613867,18154691.0,21832632.0,38104002.0,40381686.0,56615357.0,76871362.0,2021-06-21T00:00:21.016+05:30,21832632,21-06-2021,2
8,605612992,21119893.0,23193171.0,31003809.0,37440613.0,4166818.0,799209.0,2021-06-21T00:00:21.712+05:30,799209,21-06-2021,2
9,605614912,20644176.0,21667966.0,21691153.0,34669528.0,34876960.0,77772270.0,2021-06-21T00:00:23.077+05:30,77772270,21-06-2021,2
10,605612281,17327189.0,25208716.0,29836519.0,60730624.0,63275237.0,6977198.0,2021-06-21T00:00:23.938+05:30,25208716,21-06-2021,2
11,605612048,13477940.0,21608677.0,24153028.0,36137698.0,36810620.0,48350364.0,2021-06-21T00:00:24.716+05:30,48350364,21-06-2021,2
12,605612898,12412754.0,16294359.0,41027994.0,41404913.0,77870831.0,9855284.0,2021-06-21T00:00:26.372+05:30,77870831,21-06-2021,2
13,605610053,10927905.0,22437508.0,24609650.0,43893152.0,62209008.0,9142787.0,2021-06-21T00:00:26.873+05:30,62209008,21-06-2021,2
14,605613605,19160445.0,30138982.0,30523095.0,64317241.0,6780059.0,9967437.0,2021-06-21T00:00:27.9+05:30,6780059,21-06-2021,2
15,605608060,10308168.0,21980049.0,58829557.0,61461343.0,73640330.0,74669201.0,2021-06-21T00:00:29.193+05:30,10308168,21-06-2021,2
16,605614126,21017863.0,61340170.0,64210831.0,66283869.0,74995708.0,7599951.0,2021-06-21T00:00:30.275+05:30,7599951,21-06-2021,2
17,605615884,10400543.0,21651477.0,3538897.0,7638037.0,77621818.0,871903.0,2021-06-21T00:00:32.484+05:30,77621818,21-06-2021,2

In [83]:
# Initialize a game count dictionary
user_game_counts = dict()

# initialize game_count columns for each user_id
for i in range(1, 7):
    final_df[f"game_count_{i}"] = 0

# iterating through each game row and fill in the game_count for each user_id
for idx, row in final_df.iterrows(): 
    for i in range(1, 7): 
        uid = row[f"user_id_{i}"] # get the user_id for player i
        if pd.isna(uid):
            continue  # skip if user_id is missing
        if uid not in user_game_counts: # if the user_id is not in the dictionary, initialize it at 1
            user_game_counts[uid] = 1
        else:
            user_game_counts[uid] += 1 # if it is already in the dictionary, increase the count by 1
        # set the game_count for player i   
        final_df.at[idx, f"game_count_{i}"] = user_game_counts[uid] # set the game_count for player i

In [84]:
final_df.head(18)  # Display the first few rows of the final dataframe with user IDs and winner information

,game_id,user_id_1,user_id_2,user_id_3,user_id_4,user_id_5,user_id_6,settlement_time,winner_id,s_date,pkr,game_count_1,game_count_2,game_count_3,game_count_4,game_count_5,game_count_6
0,605614753,29725465.0,34772861.0,35342386.0,63295813.0,6602545.0,77744146.0,2021-06-21T00:00:01.018+05:30,6602545,21-06-2021,2,1,1,1,1,1,1
1,605610557,29214676.0,41576027.0,50648587.0,58031362.0,7404034.0,9362918.0,2021-06-21T00:00:07.433+05:30,9362918,21-06-2021,2,1,1,1,1,1,1
2,605614867,33287571.0,42977311.0,52209612.0,5797472.0,7617622.0,8417601.0,2021-06-21T00:00:13.455+05:30,5797472,21-06-2021,2,1,1,1,1,1,1
3,605607850,26481332.0,31740136.0,35414686.0,4443161.0,44752893.0,50599269.0,2021-06-21T00:00:15.873+05:30,50599269,21-06-2021,2,1,1,1,1,1,1
4,605611949,32242295.0,32363990.0,33690277.0,60725772.0,62957167.0,77262487.0,2021-06-21T00:00:16.142+05:30,77262487,21-06-2021,2,1,1,1,1,1,1
5,605611325,10520488.0,33221876.0,65544279.0,7324905.0,74927130.0,77107538.0,2021-06-21T00:00:18.778+05:30,7324905,21-06-2021,2,1,1,1,1,1,1
6,605616343,11049341.0,24198997.0,32086376.0,32676180.0,50348245.0,66548828.0,2021-06-21T00:00:20.862+05:30,50348245,21-06-2021,2,1,1,1,1,1,1
7,605613867,18154691.0,21832632.0,38104002.0,40381686.0,56615357.0,76871362.0,2021-06-21T00:00:21.016+05:30,21832632,21-06-2021,2,1,1,1,1,1,1
8,605612992,21119893.0,23193171.0,31003809.0,37440613.0,4166818.0,799209.0,2021-06-21T00:00:21.712+05:30,799209,21-06-2021,2,1,1,1,1,1,1
9,605614912,20644176.0,21667966.0,21691153.0,34669528.0,34876960.0,77772270.0,2021-06-21T00:00:23.077+05:30,77772270,21-06-2021,2,1,1,1,1,1,1
10,605612281,17327189.0,25208716.0,29836519.0,60730624.0,63275237.0,6977198.0,2021-06-21T00:00:23.938+05:30,25208716,21-06-2021,2,1,1,1,1,1,1
11,605612048,13477940.0,21608677.0,24153028.0,36137698.0,36810620.0,48350364.0,2021-06-21T00:00:24.716+05:30,48350364,21-06-2021,2,1,1,1,1,1,1
12,605612898,12412754.0,16294359.0,41027994.0,41404913.0,77870831.0,9855284.0,2021-06-21T00:00:26.372+05:30,77870831,21-06-2021,2,1,1,1,1,1,1
13,605610053,10927905.0,22437508.0,24609650.0,43893152.0,62209008.0,9142787.0,2021-06-21T00:00:26.873+05:30,62209008,21-06-2021,2,1,1,1,1,1,1
14,605613605,19160445.0,30138982.0,30523095.0,64317241.0,6780059.0,9967437.0,2021-06-21T00:00:27.9+05:30,6780059,21-06-2021,2,1,1,1,1,1,1
15,605608060,10308168.0,21980049.0,58829557.0,61461343.0,73640330.0,74669201.0,2021-06-21T00:00:29.193+05:30,10308168,21-06-2021,2,1,1,1,1,1,1
16,605614126,21017863.0,61340170.0,64210831.0,66283869.0,74995708.0,7599951.0,2021-06-21T00:00:30.275+05:30,7599951,21-06-2021,2,1,1,1,1,1,1
17,605615884,10400543.0,21651477.0,3538897.0,7638037.0,77621818.0,871903.0,2021-06-21T00:00:32.484+05:30,77621818,21-06-2021,2,1,1,1,1,1,1

In [85]:
# some checks
# final_df[final_df['user_id_1'].duplicated()] # Check presence of recurring user IDs in the first column
# final_df[final_df['user_id_']==21260286.0]

In [86]:
final_df.to_csv("demo_rummy_data.csv", index=False)  #final dataframe to a CSV file